.list {
    margin-bottom: 1rem;
}

.list.completed span {
    text-decoration: line-through;
}

.list label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem;
    background: #f3f3f3;
}

.list i {
    z-index: 2;
}
